@font-face {
  font-family: 'Raleway SemiBold';
  src: url(../assets/fonts/raleway-semibold.ttf);
}

@font-face {
  font-family: 'Raleway Medium';
  src: url(../assets/fonts/raleway-medium.ttf);
}

@font-face {
  font-family: 'Montserrat Light';
  src: url(../assets/fonts/montserrat-light.ttf);
}

body {
	width: 100%;
	margin: 0;
	min-width: 320px;
}

header {
	height: 1000px;
	background: lightgrey url(../assets/images/mountain.png);
	background-size: cover;
}

header nav {top: 50px;}

header .inflater {
	height: 100%;
	z-index: 1;
	background: rgba(34, 28, 26, 0.6);
	color: white;
}

header .inflater .logo {
	margin-top: 25px;
	margin-left: 15%;
}

header .inflater .menu {float: right;}

header .inflater .menu ul li {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}

header .slider {
	text-align: center;
	font-family: 'Raleway Medium', Arial;
	top: 25%;
	max-width: 530px;
}

header #get-started {
	text-transform: uppercase;
	background: #998675;
	font-size: 10pt;
	padding: 10px 25px;
	font-family: 'Raleway SemiBold', Arial;
}

header #arrow-left {
	position: relative;
	left: 10%;
}

header #arrow-right {
	position: relative;
	float: right;
	transform: rotate(180deg);
	right: 10%;
}

header .slider h2 {
	font-size: 16pt;
}

header .slider h3 {
	font-size: 36pt;
	font-family: 'Raleway SemiBold', Arial;
}

header .slider h4 {
	font-size: 10pt;
}

#navbar {
	margin-left: 15%;
}

.navbar-nav {
	margin-left: 15%;	
	float: right;
}

.navbar-nav li {
	margin: 0 15px;
}

.navbar-nav li a {
	color: #fff;
}

.navbar-nav .active {
	color: #c7b299;
}

.navbar-nav .icon {
	font-weight: 600;
}

.section0 {
	font-family: 'Raleway SemiBold', Arial;
}

.section0 .row {
	margin: 50px;
}

.section0 .row .col-sm {
	text-align: center;
	color: #8c8c8c;
	margin: 25px;
	min-width: 250px;
}

.section0 .row .col-sm i:hover {
	transition: 0.5s ease-in-out;
	transform: scale(1.7, 1.7);
}

.section0 .row .col-sm #gear:hover {
	transition: 1s ease-in-out;
	transform: rotate(720deg);
}

.section0 .row .col-sm h2 {
	font-size: 20pt;

}

.section0 .row .col-sm span {
	font-size: 9pt;
	font-family: "Montserrat Light", Arial;
}

.section0 .row .col-sm hr {
	width: 100px;
	border-top: 3px solid rgba(0,0,0,.1);
}

.section1 {
	position: relative;
	background: #fbfaf8;
	text-align: center;
}

.section1 h2 {
	font-size: 24pt;
	font-family: 'Raleway SemiBold', Arial;
	color: #555555;
}

.section1 span {
	font-size: 9pt;
	font-family: 'Raleway Medium', Arial;
	margin: auto;
	color: #8c8c8c;
	max-width: 600px;
}

.section1 .text-wrapper {
	margin: auto;
	padding: 0 50px;
}

.section1 .img-wrapper {
	padding-top: 155px;
}

.section2 {
	position: relative;
    background: #221c1a;
    background: -webkit-linear-gradient(left, #221c1a 0%, #4e3427 99%);
    background: -o-linear-gradient(left, #221c1a 0%, #4e3427 99%);
    background: linear-gradient(to right, #221c1a 0%, #4e3427 99%);
}

.section2 h2 {
	font-size: 20pt;
	font-family: 'Raleway Medium', Arial;
	color: #ffffff;
}

.section2 h3 {
	font-size: 11pt;
	font-family: 'Raleway Medium', Arial;
	color: #615855;
	max-width: 600px;
}

.section2 .text-wrapper {
	padding: 25px;
    max-width: 600px;
    margin-left: 20px;
}

.section2 #purchase-now {	
	text-transform: uppercase;
	background: #998675;
	font-size: 10pt;
	margin: auto;
	max-width: 150px;
	height: 40px;
	border-radius: 3px;
	border-bottom: 2px solid #615855;
	font-family: 'Raleway SemiBold', Arial;
}

.section3 h2 {
	font-size: 24pt;
	font-family: 'Raleway SemiBold', Arial;
	color: #555555;
}

.section3 span {
	font-size: 11pt;
	font-family: 'Raleway Medium', Arial;
	margin: auto;
	color: #8c8c8c;
}

.section3 .text-wrapper {
	text-align: center;
	max-width: 700px;
}

.section3 .buttons {margin: 10px;}

.section3 .buttons .btn:first-child {
	max-width: 90px;
	color: #fff;
	background: #998675;
}

.section3 .buttons .btn {
	margin: 10px;
	max-width: 140px;
	color: #8c8c8c;
	background: #fff;
	font-family: 'Montserrat Light', Arial;
}

.section3 .card-deck {
	margin: auto;
}

.section3 .card-deck .card {
	min-width: 19em;
	max-width: 19em;
	margin: 10px;
	background: #fbfaf8;
	border: transparent;
}

.section3 .card-deck .card img {
	width: 100%;
	height: 220px;
}

.section3 .card-deck .card img:hover {
	filter: grayscale(100%);
	transition: all 1s ease;
}

.section3 .card-body h5 {
	font-family: 'Raleway Medium', Arial;
	color: #c7b299;
	margin-bottom: 0;
}

.section3 .card-body p {
	font-family: 'Montserrat Light', Arial;
	font-size: 10pt;
	color: #d1d1d1;
}

.section3 #load-more {	
	display: block;
	text-transform: uppercase;
	padding: 0 30px;
	background: #998675;
	font-size: 10pt;
	margin: 20px auto 50px;
	max-width: 150px;
	height: 40px;
	border-radius: 3px;
	border-bottom: 2px solid #615855;
	font-family: 'Raleway SemiBold', Arial;
}

.section4 {
	text-align: center;
	height: 550px;
	background: brown url(../assets/images/video.png);
	background-size: cover;
}

.section4 .inflater {
	height: 100%;
	z-index: 1;
	background: rgba(34, 28, 26, 0.6);
	color: white;
}

.section4 .inflater .wrapper {
	position: relative;
	margin: auto;
	max-width: 600px;
	top: 30%;
}

.section4 .inflater .wrapper img {
	width: 3.5em;
}

.section4 .inflater .wrapper img:hover {
	cursor: pointer;
}

.section4 .inflater .wrapper h2 {
	font-family: 'Raleway Medium', Arial;
}

.section4 .inflater .wrapper span {
	font-family: 'Montserrat Light', Arial;
}

.section4 .inflater .wrapper p {
	font-family: 'Montserrat Light', Arial;
	color: #c7b299;
}

.section5 .row {
	margin-left: 0;
	margin-right: 0;
}

.section5 .text-wrapper {
	font-family: 'Montserrat Light', Arial;
	font-size: 11pt;
	color: #8c8c8c;
	max-width: 650px;
	margin-top: 180px;
	line-height: 1.7;
}

.section5 .text-wrapper ul {
	list-style: none;
	line-height: 1.8;
}

.section5 .text-wrapper ul li:before {
	content: '> ';
	font-family: 'Montserrat Light', Arial;
	font-weight: bold;
	color: #fff;
	background: #c7b299;
	border-radius: 50%;
	padding: 0 2px 1px 7px;
	margin-right: 30px;
}

.section5 .text-wrapper h2 {
	font-family: 'RaleWay SemiBold', Arial;
	font-size: 24pt;
	color: #555555;
}

.section5 .img-wrapper {
	margin-top: 60px;
	width: 400px;
	height: 600px;
	position: relative;
	background: url(../assets/images/phoneInHand.png);
	background-size: cover;
	margin-left: 15%;
}

.section6 {
	padding: 35px 0;
    background: #221c1a;
    background: -webkit-linear-gradient(left, #221c1a 0%, #4e3427 99%);
    background: -o-linear-gradient(left, #221c1a 0%, #4e3427 99%);
    background: linear-gradient(to right, #221c1a 0%, #4e3427 99%);
    text-align: center;
    text-transform: uppercase;
    color: #c7b299;
}	

.section6 .row {
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
}

.section6 .row .col i {
	font-size: 23pt;
}

.section6 .row .col h2 {
	margin-top: 20px;
	color: #fff;
	font-family: 'Montserrat Light', Arial;
	font-size: 22pt;
}

.section6 .row .col span {
	font-family: 'Montserrat Light', Arial;
	font-size: 10pt;
}

.section6 .row .col hr {
	width: 25px;
	background: #fff;
	border-top: 2px solid rgba(0,0,0,.1);
}

.section7 .text-wrapper {
	max-width: 700px;
	margin: auto;
	text-align: center;
}

.section7 .text-wrapper h2 {
	color: #555555;
	font-size: 'RaleWay SemiBold', Arial;
}

.section7 .text-wrapper span {
	color: #c9c9c9;
	font-size: 'Montserrat'
}

.section7 .card-deck {
	margin: auto;
}

.section7 .card-deck .card {
	min-width: 19em;
	max-width: 19em;
	margin: 10px;
	background: #fbfaf8;
	border: transparent;
}

.section7 .card-deck .card .inflater {
	height: 100%;
	z-index: 1;
	background: rgba(34, 28, 26, 0.8);
	color: white;
}

.section7 .card-deck .card .card-img-top {
	width: 100%;
	height: 200px;
}

.section7 .card-deck .card .card-more a {
	color: #c7b299;
}

.section7 .card-deck .card:nth-child(1) .card-img-top {
	background: url(../assets/images/post1.png);
	background-size: cover;
}

.section7 .card-deck .card:nth-child(2) .card-img-top {
	background: url(../assets/images/post2.png);
	background-size: cover;
}

.section7 .card-deck .card:nth-child(3) .card-img-top {
	background: url(../assets/images/post3.png);
	background-size: cover;
}

.section7 .card-body {
	padding: 1.25rem 1.25rem 0 1.25rem
}

.section7 .card-body h5 {
	font-family: 'Raleway Medium', Arial;
	color: #c7b299;
	margin-bottom: 0;
}

.section7 .card-body p {
	font-family: 'Montserrat Light', Arial;
	font-size: 10pt;
	color: #d1d1d1;
}

.section7 .arrows {
	text-align: center;
	padding: 50px;
}

.section7 .arrows i:hover {
	cursor: pointer;
}

.section7 .arrows i:nth-child(1) {
	color: #e7e7e7;
}

.section7 .arrows i:nth-child(2) {
	color: #c7b39a;	
}

.section8 {
	background: brown url(../assets/images/cliff.png);
	background-size: cover;
}

.section8 .inflater {
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(34, 28, 26, 0.7);
}

.section8 .row {
	margin: auto;
	max-width: 1000px;
	position: relative;
	top: 15%;
}

.section8 .row .col-sm {
	padding: 100px 0;
}

.section8 .row img {
	display: block;
	margin: auto;
	height: 180px;
	width: 180px;
}

.section9 {
	background: #191919;
	color: #555555;
	word-wrap: break-word;
}

.section9 hr {
	background: #555555;
}

.section9 h2 {
	color: #fff;
	font-family: 'RaleWay SemiBold', Arial;
}

.section9 .wrapper {
	margin: auto;
	padding: 60px;
	max-width: 1200px;
}

.section9 .wrapper .col {
	padding: 10px;
}

.section9 .logo {
	min-width: 280px;
}

.section9 .logo a {
	color: #fff;
}

.section9 .posts span {
	color: #303030;
	font-size: 9pt;
}

.section9 .posts p {
	font-size: 12pt;
}

.section9 .twitter {
	margin-right: 7px;
}

.section9 .twitter a {
	color: #02b4e4;
}

.section9 .twitter p {
	color: #303030;
	font-size: 9pt;
}

.section9 .dribbble {
	max-width: 340px;
	min-width: 340px;
	margin: 0 auto;
}

.section9 .dribbble img {
	display: block;
}

.section9 .dribbble img:hover {
	cursor: pointer;
}

.section9 .dribbble .row {
	padding: 0;
}

.section9 .dribbble .row .col {
	padding-left: 0px;
	padding-right: 0px;
}

.section9 .dribbble .row .col img {
	display: block;
}

footer {
	height: 100px;
	color: #555555;
	background: #111111;
}

footer a {
	color: #555555;
}

footer a:hover {
	color: #555555;	
}

footer .wrapper {
	padding: 35px 10%;
}

@media (max-width: 367px) {
	footer .wrapper {
		padding: 35px 4%;
	}

	.section9 .wrapper {
		padding: 30px;
	}
}

@media (max-width: 880px) {
	.section5 .row .img-wrapper {
		margin-left: 5%;
	}
}

@media (max-width: 775px) {
	.section5 .row .img-wrapper {
		display: none;
	}

	.section5 .row .text-wrapper {
		margin: auto;
	}
}

/* Убираю стрелочки у "слайдера" */
@media (max-width: 1000px) { 
	header #arrow-left, header #arrow-right { display: none; } 
}
/* */

/* Тонкая настройка менюшки */
@media (max-width: 1400px) { 
	.navbar-nav {
		margin-left: 0%;	
	} 

	.navbar-nav li {
		margin: 0 10px;
	}
}
/* */

/* Тонкая настройка картиночек */
@media (max-width: 1560px) {
	.section1 .img-wrapper img{
		margin: 20px;
	}
}

@media (min-width: 1560px) {
	.section1 .img-wrapper img:last-child {
	position: absolute;
	left: 30vw;
	bottom: 0;
	}
}

@media (max-width: 800px) {
	.section1 .img-wrapper img {
		margin: 10px;
		width: 70%;
	}
}
/* */

/* Супермаленькие телефоны */
@media (max-width: 375px) {
	.section0 .row {
		margin: 0;
	}
	.section1 .img-wrapper img {
		margin: 10px 0;
		width: 100%;
	}
}

@media (max-width: 1280px) {
	.section2 .col-1, .section2 .col-2 { 
		display: none;
	}
}

@media (max-width: 600px) {

	.section2 .col-6 {
		flex: 100%;
	}

	.section2 #purchase-now {
		margin-bottom: 20px;
	}

	.section8 .inflater .row .col-sm {
		padding: 50px 20px;
	}
}

@media (max-width: 1036px) {
	.section3 #clearidy {
		display: none;
	}

	.section5 .row .text-wrapper {
		margin-top: 100px;
		margin-left: 15px;
	}
}

@media (max-width: 575px) {
	.section3 .card-deck .card {
		margin: 10px auto;
	}
}

@media (max-width: 830px) {
	.section1 .img-wrapper img {
		margin: 0;
	}
}

@media (max-width: 664px) {
	.section7 .card-deck .card {
		max-width: none;
		margin: 10px 60px;
	}
}

@media (max-width: 440px) {
	.section7 .card-deck .card {
		margin: 10px 0;
	}
}

@media (max-width: 420px) {
	.section9 .dribbble {
		display: none;
	}
}

@media (max-width: 1150px) {
	.section9 .wrapper .col {
		margin: auto;
	}
}